* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.all {
  margin: auto;
  width: 70%;
  text-align: center;
}
.header {
  height: 200px;

  background-color: #c0392b;
  text-align: center;
}

.logo {
  margin-top: 20px;
  margin-left: 50px;
  float: left;
}

.txt h1 {
  text-align: center;
  color: white;
  padding-top: 40px;
}
.header b {
  color: white;
  font-size: +1;
  font-weight: bold;
  padding-top: 10px;
}

#wrap {
  background-color: black;
  height: 60px;
}
.navbar {
  width: 100%;
  margin: 0px;
  color: white;
}

.navbar ul {
  text-decoration: none;
  color: white;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar li {
  display: inline-block;
  padding: 17px;
  background-color: black;
  color: white;
  margin: 2px;
}

.heading {
  height: 95px;
}

.mainh {
  font-size: -2;
  margin-top: 15px;

  height: 50px;
}
.subhead {
  color: #ff0000;

  height: 30px;
  overflow: hidden;
}
.mar {
  height: 100px;
  margin-top: 10px;
}
.marquee0 {
  font-size: 4;
}
.contain {
  width: 100%;
  height: 150px;

  margin-top: 30px;
 
}

.first {
  width: 100%;
}
.first a {
  color: white;
  text-decoration: none;
  font-size: +1;
}
.one {
  width: 25%;
  background-color: #868a08;
  color: white;
  text-align: center;
  margin: 2px;
  float: left;
  height: 50px;
  padding-top: 8px;
}

.two {
  width: 25%;
  background-color: #0404b4;
  color: white;
  text-align: center;
  margin: 2px;
  float: left;
  height: 50px;
  padding-top: 8px;
}

.three {
  width: 25%;
  background-color: #fb5e03;
  color: white;
  text-align: center;
  margin: 2px;
  float: left;
  height: 50px;
  padding-top: 8px;
}

.four {
  width: 23%;
  background-color: #8c0101;
  color: white;
  text-align: center;
  margin: 2px;
  float: left;
  padding-top: 8px;
  height: 50px;
}

.second {
  width: 100%;
}
.second a {
  color: white;
  text-decoration: none;
  font-size: +1;
}

.five {
  width: 25%;
  background-color: #fb0303;
  color: white;
  text-align: center;
  margin: 2px;
  float: left;
  height: 50px;
  padding-top: 8px;
}

.six {
  width: 25%;
  background-color: #0b610b;
  color: white;
  text-align: center;
  margin: 2px;
  float: left;
  padding-top: 8px;
  height: 50px;
}

.seven {
  width: 25%;
  background-color: #ff00bf;
  color: white;
  text-align: center;
  margin: 2px;
  padding-top: 8px;
  float: left;
  height: 50px;
}

.eight {
  width: 23%;
  background-color: #0080ff;
  color: white;
  text-align: center;
  margin: 2px;
  float: left;
  padding-top: 8px;
  height: 50px;
}

.center {
  height: auto;
  width: 100%;
  margin-top: 10px;
}
.left {
  height: auto;
  width: 32%;
  float: left;
}
.fleft {
  height: 1450px;
  float: left;
  width: 100%;
  border: 2px solid #ab183d;
}
.sleft {
  width: 100%;
  height: 350px;
  border: 2px solid #ab183d;
  margin-top: 20px;
  float: left;
}

 .tleft{
  width: 100%;
  height: 350px;
  border: 2px solid #ab183d;
  margin-top: 20px;
  float: left;

 }
.post {
  margin: 30px;
  line-height: 30px;
  text-align: center;
}
.headings {
  background-color: #ab183d;
  text-align: center;
  font-weight: bold;
  height: 30px;
}
.headings a {
  text-decoration: none;
  color: white;
}
.mid {
  height: auto;
  width: 31%;
  margin-left: 2%;

  float: left;
}
.fmid {
  border: 2px solid #ab183d;
  height: 1450px;
  width: 100%;
  float: left;
}

.smid{
  
    width: 100%;
    height: 350px;
    border: 2px solid #ab183d;
    margin-top: 20px;
    float: left;
  
}


.tmiid{
  width: 100%;
  height: 350px;
  border: 2px solid #ab183d;
  
  margin-top: 20px;
  float: left;

 }


.right {
  height: auto;
  width: 31%;
  margin-left: 2%;

  float: left;
}
.fright {
  border: 2px solid #ab183d;
  height: 1450px;
  width: 100%;
  float: left;
}

.sright{

  border:2px solid #ab183d;
  height:720px;
  width:100%;
  float:left;
  margin-top: 20px;
}
.badget img{
  margin: 20px 20px;
}
.last{

width:100%;
height: auto;
border:2px solid #ab1830;


}
.head3  {
  height:50px;
  margin-top: 10px;
  background: #ab1830 ;
  color:white;
  padding-top: 9px;
  
  width:100%;
}


.para{
  text-align: center;
  line-height: 40px;
  padding:10px;
}

.dates{
  text-align: left;
  padding:20px;
}

.footer{
  height:auto;
  width:100%;
margin-top: 30px;
}
.ffooter{
  width:25%;
  float:left;
  margin-right: 2%;

}
.footer a{
  text-decoration: none;
  color:#000000BF;
  line-height: 20px;
  text-align: left;
}
.sfooter{
  float:left;
  width:20%;
  margin-right: 2%;

}

.tfooter{
  width: 45%;
float:left;
text-align: left;
}

.f{
  width:30%;
float:left;
padding:19px;
margin-right: 2%;
}
.s{
  width: 30%;
  float:left;
  padding:19px;
  margin-right: 2%;
  
}
.t{
  width: 30%;
  float:left;
  margin-right: 2%;
  padding:19px;

}